@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
  --main-color: #ba5d2c;
  --card-title-color: #617d98;
  --product-price-color: #324d67;
  --section-title-color: #102a42;
  --button-hover-color: #da8252;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.page-title {
  margin-top: 6rem;
  background: #f1f5f8;
  padding: 2.7rem 0;
  color: var(--card-title-color);
}

.page-title .container {
  padding: 0 1rem;
}

.page-title h1 {
  font-weight: 600;
  font-size: 27px;
}

.products-container {
  display: flex;
}

.products .cards-container {
  flex-grow: 1;
  margin: 3.5rem 1rem;
}

@media (width <= 800px) {
  .products-container {
    flex-direction: column;
  }
}
